@import "administrate/library/variables";

.taggable_field {
    .tag {
        text-align: center;
        font-size: 0.85em;
        margin: 0 3px 3px 0;
        padding: 2px 6px;
        background: #f2f2f2;
        color: #303030;
        border: 0 solid #d0d0d0;
    }
}
